body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.nopad {
  padding: 0px !important;
}

.solid {
  cursor: pointer;
}

#grocery_list .grocery:nth-child(odd) {
  background: rgba(120, 125, 128, 0.27);
}

#grocery_list .grocery.highlight {
  background: gray;
}